<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Rate</th>
    </tr>
    <tr>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30 yr Fixed Jumbo</th>
      <td>4.88%</td>
    </tr>
    <tr>
      <th>30 yr Fixed</th>
      <td>4.75%</td>
    </tr>
    <tr>
      <th>15 yr Fixed</th>
      <td>4.09%</td>
    </tr>
    <tr>
      <th>10 yr Fixed</th>
      <td>4.05%</td>
    </tr>
    <tr>
      <th>30 yr Fixed Refi</th>
      <td>4.75%</td>
    </tr>
    <tr>
      <th>15 yr Fixed Refi</th>
      <td>4.10%</td>
    </tr>
    <tr>
      <th>5/1 ARM</th>
      <td>4.31%</td>
    </tr>
    <tr>
      <th>5/1 ARM Refi</th>
      <td>4.35%</td>
    </tr>
  </tbody>
</table>